


*{
    margin: 0;
    padding: 0;
    background-color: #FBF8CC;
    font-family: 'poppins',sans-serif;
}

.container{
    margin: 30px 70px;
    padding: 10px 10px;
}

.nav-container{
    font-size: 18px;
    font-weight:400 ;
    display: flex;
    align-items: center; 
    /* padding: 10px 20px; */
    justify-content: space-between;
}
.left-nav{
    font-weight: 600;
}
.nav-links{
    display: flex;
    list-style: none;
}
.right-nav{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-right: 30px;
    cursor: pointer;
}
.nav-links li:last-child{
    margin-right: 0;
}
.right-nav img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.right-nav img:last-child{
    margin-right: 0;
}

.hero-contaier{
    display: flex;
    margin-top: 200px;
    line-height: 1.25;

}
.left-hero{
    width: 50%;
    color: #03045E;
    
}
.right-hero{
    width: 50%;
}
.right-hero img{
    
    margin-left: 200px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%; 
    width: 350px; 
    height: 350px; 
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(3, 4, 94, 0.4);
    transition: transform 0.3s ease;
}
.right-hero img:hover {
    transform: translateY(-15px); 

    }
    



.hello{
    font-size: 24px;
    font-weight: 500;
}

.field{
    font-size: 64px;
    font-weight: 800;
}

.resume-container{
    color: black;
    display: flex;
    text-align: center;
    border-radius: 16px;
    background-color: #F5EE84;
    margin-top: 20px;
    width:164px ;
    height: 68px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.about-container{
    color: #03045E;
    margin-top: 160px;
}
.about-title{
    color: black;
    font-size: 48px;
    font-weight: 800;

    margin-bottom: 24px;
}
.about-parag{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    width: 65%;
    margin-top: 50px;
    font-weight: 500;
}
.about-timeline{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20%;
    line-height: 1.75;
}
.about-timeline li{
    margin-top: 14px;
    font-weight: 400;

    width: 70%;
    
}

.work-container{
    margin-top: 160px;
    color: #03045E;
}
.work-title{
    font-size: 48px;
    margin-bottom: 24px;
    color: black;
    font-weight: 800;

}
.work-parag{
    width: 65%;
    font-size: 24px;
    margin-top: 50px;
    line-height: 1.5;
    font-weight: 400;

}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 80px;
}

.img-container img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
    -webkit-transition: margin 0.2s ease-in-out;
    -moz-transition: margin 0.2s ease-in-out;
    -o-transition: margin 0.2s ease-in-out;
   
   
}
.img-container img:hover{
    margin-top: -15px;
}

.img-left ,.img-right{
    height: 660px;
    width: 500px;
    
}
.img-left-title,.img-right-title{
    margin-top: 10px;
    margin-bottom: 10px;

}
.img-parag{
    font-size: 18px;
}

.contact-container{
    margin-top: 160px;
    color: #03045E;

    
    
}
.contact-title{
    font-size: 48px;
    font-weight: 800;

    color: black;
    margin-bottom: 50px;
}

.contact-entity{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact-img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
    margin-left: 180px;

}

.contact-right{
    font-size: 24px;
    width: 70%;
    margin-left: 50px;
}
.contact-right img{
    width: 40px;
    height: 40px;
    ;
}

.contact-info{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap:16px
}

.contact-info div:last-child{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}